<center>
<h1><%= @vendor.name %></h1>
</center>

<left>
  <div id='contact-info'>
    <h4>Contact Info: </h4>
    <p>Name: <%= @vendor.contact_name %></p>
    <p>Phone: <%= @vendor.contact_phone %></p><br>
    <p>Credit Accepted?: <%= @vendor.credit_accepted %> </p><br>
    <p>Description: <%= @vendor.description %></p>
  </div>
</left>